  :root {
    --gradient: linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% );
  }
  body {
    height: 100vh;
    background-color: aliceblue;
    background-image: var(--gradient);
    background-size: 500%;
    animation: animate-bg 15s infinite alternate;
    background-position: right;
  }
  @keyframes animate-bg {
    0% {
      background-position: right;
    }
    
    100% {
       background-position: left;

     }
  }
  #jumbotron {
    padding-top: 5rem;
  }
  #buttona {
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    width: auto;
  }

  #buttonb {
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    width: auto;
  }
  
  #icons {
    color: white;
    margin-left: 0;
    margin-right: 0;
  }


  #buttons {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transform: translateX(0%);
  }
 
